@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
}

.bg-pattern-top-mobile {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-pattern-bottom-mobile {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.bg-pattern-top-desktop, .bg-pattern-bottom-desktop {
  display: none;
}

.social-proof__intro {
  padding: 0 0.5rem;
  text-align: center;
  margin-bottom: 32px;
}

.intro__title {
  font-size: 40px;
  line-height: 0.85;
  letter-spacing: -2px;
  font-weight: var(--font-weight-bold);
  color: var(--color-purple-900);
  margin-bottom: 16px;
}

.intro__description {
  font-size: 19px;
  line-height: 1.35;
  letter-spacing: -0.6px;
  color: var(--color-purple-300);
  font-weight: var(--font-weight-regular);
}

.social-proof__ratings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
}

.ratings {
  background-color: var(--color-purple-100);
  border-radius: 8px;
  padding: 24px;
  text-align: center;
}

.rating__title {
  font-size: 17px;
  color: var(--color-purple-900);
  font-weight: var(--font-weight-bold);
  margin-top: 16px;
}

.social-proof__testimonials {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.testimonials__item {
  padding: 32px;
  background-color: var(--color-purple-900);
  border-radius: 8px;
  color: var(--color-white);
}

.testimonial__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
}

.testimonial__image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.testimonial__name {
  font-size: 17px;
  font-weight: var(--font-weight-bold);
}

.testimonial__status {
  font-size: 17px;
  color: var(--color-pink-400);
  font-weight: var(--font-weight-regular);
}

.testimonial__quote {
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: -0.3px;
  font-weight: var(--font-weight-medium);
}

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}